#Bender {
	width: 363px;
	height: 510px;
	margin: 0px;
}

.antena {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 25%;
	width: 100%;
}

i {
	color: rgb(200,222,236);
}

.top {
	display: flex;
	width: 25%;
	justify-content: center;
}

#rodona1 {
	float: left;
}

#rodona2 {
	position: absolute;
	margin-top: 10px;
	float: left;
}

div.pal {
	background-color: rgb(200,222,236);
	width: 14px;
	height: 100%;
}